@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&family=Delicious+Handrawn&display=swap');

:root {
  --pink: #FFB5C2;
  --yellow: #F8FA90;
  --green: #306B34;
  --light-blue: #00FFF5;
  --red: #FF2E00;
}

body {
  font-family: Comfortaa, 'sans-serif';
  font-weight: 400;
}

section {
  margin-bottom: 2rem;
}

main {
  margin-bottom: 5rem;
}

button,
a {
  cursor: pointer;
}

/* Navbar */
header {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 5px black;
  margin-bottom: 1rem;
}

.navHeader__logo {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.navHeader__logo a,
.navHeader__logo a:active,
.navHeader__logo a:visited {
  text-decoration: none;
  font-family: Delicious Handrawn, 'sans-serif';
  color: var(--green);
  font-size: 3rem;
}

.navHeader__logo button {
  border: none;
  background-color: white;
  font-size: 3rem;
  color: var(--green);
  cursor: pointer;
}

.navHeader__links {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateY(20%);
  background-color: var(--green);
  width: 100vw;
}

.navHeader__links a,
.navHeader__links a:visited,
.navHeader__links a:active {
  text-decoration: none;
  color: white;
  padding: 1rem;
}

/* End of NavBar */

/* Footer */
footer {
  text-align: center;
  background-color: var(--green);
  color: white;
  padding: 2rem 0;
}

/* End of Footer*/

/* Hero Section */
.heroSectionContainer {
  position: relative;
}

.heroSection__img {
  padding: 1rem;
  border: 5px solid var(--green);
  border-radius: 1rem;
  margin: 1rem;
}

.heroSectionContainer img {
  width: 100%;
  height: 80vh;
  object-fit: cover;
  border-radius: 1rem;
}

.heroSection__info {
  position: absolute;
  z-index: 10;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 70%;
  text-align: center;
}

.heroSection__info h1 {
  color: var(--green);
  font-weight: 700;
}

.heroSection__info h3 {
  font-weight: 300;
}

.heroSection__info #drinks-made {
  color: var(--green);
  font-weight: 700;
}

.heroSection__info button {
  background-color: var(--yellow);
  border: none;
  padding: 0.8rem;
  text-transform: uppercase;
  border-radius: 1rem;
  font-weight: 700;
}

/* End of Hero Section */

/* Different Options */
.diffOptionsContainer {
  background-color: var(--yellow);
  padding: 1rem;
}

.diffOptionsHeader h2 {
  text-align: center;
  font-family: Delicious Handrawn, sans-serif;
  font-size: 2.5rem;
  color: var(--green);
}

.diffOptions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fruitOption span {
  font-size: 5rem;
  cursor: default;
}

.fruitOption {
  text-align: center;
}

/* End of Different Options */

/* Coastal Information */
.coastalInformation {
  padding: 1rem;
  border: 5px solid var(--pink);
  margin: 1rem;
  border-radius: 1rem;
}

.coastalInformation__img img {
  width: 100%;
}

.coastalInformation__info h3 {
  color: var(--green);
}

/* .coastalInformation__info h3,
.coastalInformation__info h4,
.coastalInformation__info p {
  margin: 0;
} */

/* End of Coastal Information */

/* Fresh Page */
.freshFormContainer {
  display: block;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
  padding: 2rem;
}

.freshFormContainer h2 {
  grid-column: 1/3;
  text-align: center;
}

#freshForm {
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  border: 10px solid var(--green);
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  padding: 1rem;
  margin-bottom: 2rem;
}

#freshForm input,
#freshForm select,
#freshForm textarea {
  width: 80%;
  margin-bottom: 1rem;
  padding: 0.25rem;
  border: solid 1px black;
}

#freshForm input:invalid {
  border-left: solid 5px red;
}

#freshForm button {
  width: 50%;
  padding: 0.3rem;
  border: 0;
  background-color: var(--yellow);
  border-radius: 1rem;
}

.fruitFormSelect {
  grid-column: 2/3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fruitFormSelect img {
  width: 80%;
  height: 30rem;
  object-fit: cover;
}

/* End of Fresh */

/* Confirmation */
.confirmationContainer img {
  display: none;
}


.confirmation__orderDetails,
.confirmation__drinkDetails {
  padding: 2rem;
  margin: 1rem;
  border-radius: 1rem;
}

.confirmation__orderDetails {
  border: 5px solid var(--pink);
}

.confirmation__drinkDetails {
  border: 5px solid var(--yellow);
}

.confirmation__drinkDetails span,
.confirmation__orderDetails span {
  font-weight: 700;
  text-transform: capitalize;
}

.confirmation__orderDetails #email {
  text-transform: none;
}

/* End of Confirmation */

/* Links */
.socialAccountContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.socialAccountContainer a img {
  background-color: var(--green);
  width: 50px;
  height: 50px;
  object-fit: cover;
  padding: 1rem;
  margin: 1rem;
  border-radius: 1rem;
}

.socialAccountContainer a img:hover {
  background-color: var(--yellow);
}

.socialAccounts {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* End of Links */

.weatherSocialContainer h2 {
  font-family: Delicious Handrawn, sans-serif;
  font-size: 2.5rem;
  text-align: center;
  color: var(--green);
}

/* Weather */
.weatherContainer {
  padding: 1.5rem;
}

.weatherListContainer {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  overflow-x: scroll;
}

.weather {
  margin: 1rem;
  padding: 1rem;
  border: solid 10px var(--pink);
  border-radius: 1rem;
}

.weatherImg img {
  width: 100%;
}

.weatherInfo #weatherDesc {
  text-transform: capitalize;
}

.weatherInfo {
  width: 250px;
}

.weather p {
  margin: 0;
  text-align: center;
}

/* End of Weather*/

.aboutUsContainer {
  padding: 3rem;
}

.aboutUsContainer h1 {
  text-align: center;
  font-family: Delicious Handrawn, sans-serif;
  font-size: 3rem;
  color: var(--green);
  margin: 0;
}

.aboutUsContainer p {
  text-align: center;
}

.mapContactContainer {
  padding: 3rem;
  padding-top: 0;
}

.mapContactContainer h2 {
  font-family: Delicious Handrawn, sans-serif;
  font-size: 2.5rem;
  color: var(--green);
  margin-top: 0;
  text-align: center;
}

.mapContainer img {
  width: 100%;
  height: 50vh;
  object-fit: cover;
}

.contactContainer {
  text-align: center;
}