@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;700&display=swap');

:root {
  --main-color: #69008F;
  --white-color: #F4FFF8;
  --secondary-color: #6E75A8;
  --third-color: #8D91C7;
  --fourth-color: #16001E;
}

/* Global Components */

/* Header and Footer */
header,
nav,
main,
footer {
  font-family: Manrope, sans-serif;
  max-width: 960px;
  margin: 0 auto;
}

header {
  text-align: center;
  background-color: var(--secondary-color);
}

header h1 {
  margin: 0;
  padding: 1rem;
  color: var(--fourth-color);
}

nav,
footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: var(--main-color);
}

nav div {
  padding: 1rem;
}

nav div a,
footer p {
  text-decoration: none;
  color: var(--white-color);
  font-weight: 800;
}

main {
  padding: 1rem;
}

/* Index */
.index-container {
  text-align: center;
}

.index-container h2 {
  margin: 0;
  color: var(--fourth-color);
  text-transform: uppercase;
}

.index-container>div {
  padding: 1rem;
  border: solid black 1px;
}

.index-container div:nth-child(3) img {
  width: 100%;
}

/* Design */
.design-container {
  text-align: center;
}

.color-scheme {
  border: 1px solid black;
  display: grid;
  color: var(--white-color);
  grid-template-areas: "b c"
    "a a"
    "d e";
}

.color-scheme div:nth-child(1) {
  grid-area: a;
  background-color: var(--main-color);
}

.color-scheme div:nth-child(2) {
  grid-area: b;
  background-color: var(--white-color);
  color: black;
}

.color-scheme div:nth-child(3) {
  grid-area: c;
  background-color: var(--secondary-color);
}

.color-scheme div:nth-child(4) {
  grid-area: d;
  background-color: var(--third-color);
}

.color-scheme div:nth-child(5) {
  grid-area: e;
  background-color: var(--fourth-color);
}

.typography>p:nth-child(2) {
  font-weight: 700;
}

.typography>p:nth-child(7) {
  background-color: var(--secondary-color);
}

.design-container div:nth-child(3) img {
  width: 100%
}

/* Target Audience */
.divider {
  border-bottom: 1px solid black;
}

.targetaudience-container {
  text-align: center;
}

.targetaudience-container h2 {
  margin: 0;
}

.targetaudience-container img {
  margin: 1rem;
  width: 100%;
}

.site-map img {
  width: 100%;
  margin: 0;
}