@media screen and (min-width: 1000px) {
  .grid {
    grid-template-areas: none;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .grid .container:nth-child(1) {
    grid-area: a;
    grid-column: 1/2;
  }

  .grid .container:nth-child(2) {
    grid-area: b;
    grid-column: 2/3;
  }

  .grid .container:nth-child(3) {
    grid-area: c;
    grid-column: 3/4;
  }
}