@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;700&display=swap');

:root {
  --main-color: #69008F;
  --white-color: #F4FFF8;
  --secondary-color: #6E75A8;
  --third-color: #8D91C7;
  --fourth-color: #16001E;
}

body {
  font-family: Manrope, sans-serif;
}

header {
  background-color: white;
  color: var(--main-color);
}

.navContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  margin-bottom: 1rem;
}

.logoContainer {
  display: flex;
  align-items: center;
  width: 30vh;
}

.logoContainer img {
  width: 80%;
  border-radius: 10px;
}

.logoTextContainer h1,
.logoTextContainer h4 {
  margin: 0;
}

.logoTextContainer h4 {
  font-size: 0.8rem;
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navSocials {
  display: flex;
}

.navSocials img {
  width: 35px;
  background-color: var(--main-color);
  border-radius: 0.5rem;
}

.navSocials p {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

/* Hamburger Menu Staff */
.navHamburger {
  background-color: white;
  border: none;
}

#navbar {
  display: none;
  padding: 0;
  padding: 1rem;
  font-size: 2rem;
  top: 0;
  margin: 0;
  right: 0;
  height: 100vh;
  width: 70vw;
  text-align: center;
  box-shadow: 0 0 3rem 1rem rgba(0, 0, 0, 0.574);
}

#menu-open {
  display: none;
  font-size: 1rem;
  font-weight: 800;
  color: var(--main-color);
}

#menu-close {
  display: inline;
  font-size: 3rem;
  color: var(--main-color);
}

#navbar.menu-active {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-color);
}

#navbar li {
  list-style: none;
  padding-bottom: 0.5rem;
}

#menu-open-2 {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 2rem;
}

#menu-open.menu-active {
  display: inline;
}

#menu-close.menu-active {
  display: none;
}

.dateContainer {
  text-align: center;
  margin-bottom: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.dateContainer p {
  margin: 0 auto;
  padding: 1rem;
  background-color: var(--secondary-color);
  color: var(--white-color)
}

/* Template Content */
main {
  padding: 1rem;
}

.content {
  background-color: var(--secondary-color);
  border: solid 1px var(--fourth-color);
  padding: 1rem;
  margin-bottom: 1rem;
}

main div:nth-child(6) {
  display: grid;
  grid-template-areas: "s1"
    "s2";
}

main div:nth-child(6) div:nth-child(1) {
  grid-area: s1;
}

main div:nth-child(6) div:nth-child(2) {
  grid-area: s2;
}

.spotlight {
  margin-bottom: 0;
}

/* End of Template Content*/

/* Footer */
footer {
  background-color: var(--third-color);
  color: var(--white-color);
  padding: 1rem;
}

.footerContainer {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

.footerInfo h3,
.footerInfo p,
.footerContact p {
  margin: 0;
}

.footerContainer img {
  width: 100%;
  border-radius: 100%;
}

/* End of Footer */

/* Class Info */
.classInfo {
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

.me {
  font-weight: 800;
}

.classInfo p {
  margin: 0 auto;
}

/* End of Class Info*/