@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;700&display=swap');

:root {
  --main-color: #69008F;
  --white-color: #F4FFF8;
  --secondary-color: #6E75A8;
  --third-color: #8D91C7;
  --fourth-color: #16001E;
}

body {
  font-family: Manrope, sans-serif;
}

.alert {
  text-align: center;
  padding: 1.2rem;
  margin: 0;
  background-color: var(--third-color);
  border: 2px solid var(--fourth-color);
  cursor: default;
  font-size: 1.2rem;
}

header {
  background-color: white;
  color: var(--main-color);
}

.navContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  margin-bottom: 1rem;
}

.logoContainer {
  display: flex;
  align-items: center;
  width: 30vh;
}

.logoContainer img {
  width: 80%;
  border-radius: 10px;
}

.logoTextContainer a {
  text-decoration: none;
}

.logoTextContainer a:active {
  color: var(--main-color);
}

.logoTextContainer h1,
.logoTextContainer h4 {
  margin: 0;
}

.logoTextContainer h4 {
  font-size: 0.8rem;
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navSocials {
  display: flex;
}

.navSocials img {
  width: 35px;
  background-color: var(--main-color);
  border-radius: 0.5rem;
}

.navSocials a {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  transition: 0.3s transform;
}

.navSocials a:hover {
  cursor: pointer;
  transform: scale(1.2);
}

/* Hamburger Menu Staff */
.navHamburger {
  background-color: white;
  border: none;
}

#navbar {
  display: none;
  padding: 0;
  padding: 1rem;
  font-size: 2rem;
  top: 0;
  margin: 0;
  right: 0;
  height: 100vh;
  width: 70vw;
  text-align: center;
  box-shadow: 0 0 3rem 1rem rgba(0, 0, 0, 0.574);
}

#navbar li:hover {
  cursor: pointer;
}

#menu-open {
  display: none;
  font-size: 1rem;
  font-weight: 800;
  color: var(--main-color);
}

#menu-close {
  display: inline;
  font-size: 3rem;
  color: var(--main-color);
}

#navbar.menu-active {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: var(--secondary-color);
}

#navbar li {
  list-style: none;
  padding-bottom: 0.5rem;
}

#menu-open-2 {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 2rem;
}

#menu-open.menu-active {
  display: inline;
}

#menu-close.menu-active {
  display: none;
}

.dateContainer {
  text-align: center;
  margin-bottom: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.dateContainer p {
  margin: 0 auto;
  padding: 1rem;
  background-color: var(--secondary-color);
  color: var(--white-color)
}

/* Template Content */
.content {
  margin-bottom: 1rem;
  background-color: var(--secondary-color);
}

.content h2 {
  color: var(--white-color);
  text-shadow: var(--white-color) 0 0 8px;
}

.spotlight {
  display: grid;
  grid-template-areas: "s1"
    "s2";
}

.spotlight div:nth-child(1) {
  grid-area: s1;
}

.spotlight div:nth-child(2) {
  grid-area: s2;
}

.spotlight div:nth-child(3) {
  display: none;
}

.service {
  margin-bottom: 0;
}

.hero {
  position: relative;
}

.hero h1 {
  position: absolute;
  color: var(--white-color);
  bottom: 30%;
  right: 5%;
  font-weight: 700;
  text-shadow: var(--fourth-color) 0 0 8px;
}

.hero img {
  padding: 0;
  width: 100%;
  object-fit: cover;
}

.hero button {
  position: absolute;
  bottom: 10%;
  right: 5%;
  padding: 1rem;
  border-radius: 1rem;
  border: 0;
  background-color: var(--secondary-color);
  font-weight: 700;
  box-shadow: 0 0 3px 1px var(--fourth-color);
  transition: 0.3s transform;
}

.hero button:hover {
  transform: scale(1.1);
  cursor: pointer;
  background-color: var(--third-color);
}

.event {
  padding: 1rem;
  text-align: center;
}

.weather {
  text-align: center;
  padding: 1rem;
}

.news {
  text-align: center;
  padding: 1rem;
}

.join {
  padding: 1rem;
  text-align: center;
}

.join button {
  width: 100%;
  padding: 1rem;
  border-radius: 1rem;
  border: 0;
  background-color: var(--fourth-color);
  color: var(--white-color);
  font-weight: 700;
  box-shadow: 0 0 3px 1px var(--fourth-color);
  transition: 0.3s transform;
}

.join button:hover {
  transform: scale(1.05);
  cursor: pointer;
  background-color: var(--third-color);
}

.spotlight {
  padding: 1rem;
  text-align: center;
}

/* End of Template Content*/

/* Footer */
footer {
  background-color: var(--third-color);
  color: var(--white-color);
  padding: 1rem;
}

.footerContainer {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

.footerInfo h3,
.footerInfo p,
.footerContact p {
  margin: 0;
}

.footerContainer img {
  width: 100%;
  border-radius: 100%;
}

/* End of Footer */

/* Class Info */
.classInfo {
  width: 60%;
  margin: 0 auto;
  text-align: center;
}

.me {
  font-weight: 800;
}

.classInfo p {
  margin: 0 auto;
}

/* End of Class Info*/